                                                    Day2 Topics
Data types
1.Strings
2.Integers
3.Floats
4.Booleans

- subscripting/string slicing using indexing 
- data type conversions 
- data type checking using type() function
- mathematical operations in python & Operator Precedence (PEMDAS)
- math functions - the round() function
- Assignment operator eg +=
- formatting with f-strings


Today's errors
1. Type error - using a function with data of the wrong type
2. Value error - converting object to an object that it cannot possibly be converted to.

In [6]:
#a)Strings - characters - anything wrapped in quotes
#lets start with subscripting or string slicing
print("Hero"[2])

r

1. From the beginning, indexing starts with 0
2. from the last character, it starts with indexing -1
3. If we want to print characters in reverse we use the negative index starting from the end of the string

In [8]:
#last character
print("Hello"[-1])
#first character
print("Hello"[0])
#second character from the end
print("Hello"[-2])

o
H
l

In [9]:
#String concatenation with numbers
print("123" + "345")

123345

In [10]:
#b) Integers - whole numbers
#this will do an actual mathematical addition because the data type used here is integers and not strings
print(123 + 345)

468

To break down large numbers in python such that when it is printed on the screen it has comma separating between numbers

In [15]:
#we use the _ symbol 
print(f"{335_567_465:,}")

335,567,465

In [16]:
#c) Float - decimal numbers  or floating point numbers
print(3.145)

3.145

d) Booleans - True and False
0 and empty strings or anything empty are False
1 and everything else or anything non empty is True

TypeErros - these are errors that occur when we use a function that is associated with a certain data type with data that is not of that data type
example as follows.

In [17]:
#In this case the len  function is associated with strings but we are using it with integers
print(len(45678))

TypeError: object of type 'int' has no len()

In [18]:
#we can fix this code by changing the data to a string
print(len("45678"))

5

Type() function - returns the data type of an object

In [19]:
#challenge1: print 4 examples of the data types we learned and their data type checks using the type function
print(type(4567))
print(type("hello"))
print(type(456.78))
print(type(False))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

Type Conversion / Type parsing
Converting objects of 1 type to another (only valid ones)
bool()
float()
str()
int()

In [22]:
#converting string object to integer
print(int("123") + int("456"))

579

In [23]:
#converting it to strings
print(str(123) + str(456))

123456

Mathematical operations in python
** used as powers
// integer division - returns whole number 
/ returns floats
% module operator returns reminder

Operator Precedence - from left to right
PEMDAS
()
**
* OR /
+ OR -

In [24]:
print(2**3)
print(5/2)
print(5//2)
print(5%2)
print(456+657)
print(464-221)

print(3*3 + 9 - 3/3 + (2**3) + (4*2))

8
2.5
2
1
1113
243
33.0

In [26]:
#round function
#if we want intger we just use round without specifying decimal number details
print(round(45.6778999))

print(round(45.3778999))

46
45

In [28]:
#if we want float number value
print(round(45.6778999, 3))

45.678

Assignment Operator
we can use any operator in place of the + symbol
score +=2 is the same as score = score + 2

In [30]:
score = 0
score +=2
print(score)

2

f strings allow you to incorporate different data types into 1 print statement without manually doing type conversion

In [32]:
score = 10
height = 1.65
is_winning = True

print(f"Your score is = {score}, your height is {height}. Your winning is {is_winning}.")

Your score is = 10, your height is 1.65. Your winning is True.